<%= form_for @post, :html => { :multipart => true } do |f| %>
  <%= f.text_field :title, placeholder: yield(:placeholder_title) %>
  <div class="field">
  <%= f.text_area :content, placeholder: yield(:placeholder_text) %>
  </div>
  <%= f.file_field :picture %>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
