<li>
  <%= image_tag post.user.avatar.url(:small), class: "avatar"%>
  <span><%= link_to post.user.name, post.user %></span>
  <h3><%= link_to post.title, post_path(post) %></h3>
  <p><%= post.content %></p>
  <%= image_tag post.picture.url unless post.picture.blank? %>
  <p>
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </p>
  <%= link_to "edit", edit_post_path(post) if can? :update, post %>
  <%= link_to "delete", post, method: :delete,
                                data: { confirm: "You sure?" },
                              remote: true,
                               class: 'delete_post' if can? :destroy, post %>
</li>
