<li>
  <%= image_tag post.user.avatar.url(:small), class: "avatar"%>
  <span><%= link_to post.user.name, post.user %></span>
  <h4><%= "Category: #{post.category.name}" %></h4>
  <h3><%= link_to post.title, post_path(post) %></h3>
  <p><%= post.content %></p>
  <%= image_tag post.picture.url unless post.picture.blank? %>
  <p>
    Posted <%= time_ago_in_words(post.created_at) %> ago.
    <%= content_tag(:strong, "UNAPPROVED") unless post.approved? %>
  </p>
  <%= content_tag(:span, post.likes.count, class: "likes_count") %> likes
  <%= content_tag(:span, post.dislikes.count, class: "dislikes_count") %> dislikes
  <p>
    <%= link_to "Like", like_post_path(post.id), method: :post, remote: true, class: "btn-warning like-btn" if can? :like, post %>
    <%= link_to "Dislike", dislike_post_path(post.id), method: :post, remote: true, class: "btn-danger dislike-btn" if can? :dislike, post %>
  </p>
  <%= link_to "edit", edit_post_path(post) if can? :update, post %>
  <%= link_to "delete", post, method: :delete,
              data: { confirm: "You sure?" },
              remote: true,
              class: 'delete_post' if can? :destroy, post %>
</li>
